/* Group Members Section */
#group-members {
    padding: 2rem;
    text-align: center;
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.member {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.member h3 a {
    color: #333;
    text-decoration: none;
    position: relative;
}

.member h3 a:hover {
    text-decoration: underline;
    color: #666; /* Changement de couleur au survol */
    transition: all 0.3s ease;
}

.member p {
    font-size: 0.9rem;
    color: #666;
}
